.custom-shape-divider-top-1725691990 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1725691990 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 54px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1725691990 .shape-fill {
    fill: rgb(209 250 229);
}